@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
*{
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-touch-callout:none;
	box-sizing:border-box
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype')
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype')
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype')
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype')
}

* {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	box-sizing: border-box
}


body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--vscode-menu-background,#32383f);
	font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	margin: 0;
	overflow-x: hidden
}

img {
	max-width: 100%
}

a[disabled] {
	cursor: not-allowed;
	opacity: .6
}

li input[type=checkbox] {
	margin: 0 .2em .25em -1.6em;
	vertical-align: middle
}

.markdown-body>* {
	box-sizing: border-box;
	font-size: inherit
}

.markdown-body>:first-child {
	margin-top: 0 !important
}

body {
	background-color: #fff
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body strong {
	color: #112025;
	font-weight: 600
}

.markdown-body a {
	color: var(--vscode-textLink-foreground, #0f9dc9);
	font-weight: 600
}

.md-sidebar-toc a {
	color: #0f9dc9;
	font-weight: 600
}

.markdown-body h1 {
	font-size: 3.5rem;
	margin: 0 0 1rem
}

.markdown-body h2 {
	font-size: 2.5rem;
	margin: 2rem 0 .8rem
}

.markdown-body h3 {
	font-size: 2.15rem;
    margin: 2rem 0 0.6rem;
    color: #3e4344;
}

.markdown-body h4 {
	font-size: 1.75rem;
}

.markdown-body h5 {
	font-size: 1.5rem

}

.markdown-body h6 {
	font-size: 1rem;
	color: #777
}

.markdown-body figure,
.markdown-body p {
	margin: 1.2em 0
}

.markdown-body hr {
	border: none;
	border-bottom: 1px solid #eee;
	margin: 2em 0
}

.markdown-body table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	margin-bottom: 1rem;
	overflow: auto;
	width: 100%
}

.markdown-body th {
	font-weight: 700
}

.markdown-body td,
.markdown-body th {
	border: 1px solid #ddd;
	padding: 6px 13px
}

.markdown-body tr {
	border-top: 1px solid #ccc
}


.markdown-body ol,
.markdown-body p,
.markdown-body ul {
	line-height: 1.6rem;
	word-spacing: .05rem
}

.markdown-body ol,
.markdown-body ul {
	padding-left: 1.5rem
}

.markdown-body blockquote {
	border-left: 4px solid #0f9dc9;
	color: #858585;
	background-color: #f0f0f0;
	margin: 2em 0;
	padding-left: 20px
}

.markdown-body blockquote p {
	font-weight: 600;
	margin-left: 0
}

.markdown-body iframe {
	margin: 1em 0
}

.markdown-body em {
	color: #7f8c8d
}
.markdown-body code{
	border-radius:2px;
	color:#e96900;
	font-size:.8rem;
	margin:0 2px;
	padding:3px 5px;
	white-space:pre-wrap
}
.markdown-body code,.markdown-body pre{
	background-color:#f8f8f8;
	font-family:Roboto Mono,Monaco,courier,monospace
}